body {
    margin: 0;
    background: #eee;
}
main#top {
    width: 100%;
    height: 85px;
    background: #fff;
    padding-top: 5px;
    padding-left: 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
#middle {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background: #fff;
    border-radius: 8px;
}
#detahtml {
    display: none;
}
h2.siteName {
    font-family: serif;
    width: 170px;
    height: 35px;
    margin: 0;
    float: left;
    background: #0a0;
    color: #fff;
    font-size: 23px;
    text-align: center;
    border-radius: 8px;
}
div.ver {
    float: right;
    margin-right: 20px;
}
.loading {
    position: relative;
    top: 0;
}
ul {
    list-style: none;
    padding-left: 20px;
}
.header {
    display: flex;
    padding: 0;
    margin-top: 30px;
    font-size:smaller;
    @media screen and (max-width: 600px) {
        margin-top: 35px;
    }
}
.detail {
    padding: 0;
    font-size: small;
    color: #666;
}
.header li {
    margin-left: 30px;
    color: #444;
    text-shadow: 0.05em 0.05em 0.1em #444;
}
.detail a {
    color: Green;
}
input[type="number"], input[type="text"] {
    height: 20px;
    margin: 10px;
    padding-left: 5px;
    font-size: medium;
    border: none;
    border-radius: 5px;
    border: 1px solid LightGray;
    border-right: 2px solid Black;
    border-bottom: 2px solid Black;
    @media screen and (max-width: 600px) {
        width: 150px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
input[type="button"] {
    width: 110px;
    height: 30px;
    margin-bottom: 20px;
    font-size: medium;
    background: #dfb;
    border: none;
    border: 1px solid Gray;
    border-radius: 8px;
    @media screen and (max-width: 600px) {
        margin-top: 20px;
    }
}
