@font-face {
    font-family: MyFont;
    src: url("https://rento2177.github.io/sydx/uzura.ttf");
}

body {
    font-family: MyFont;
    margin-left: 50px;
}

ul {
    list-style: none;
}

li {
    padding: 4px;
}

div#i {
    float: left;
    color: red;
}

input[type="number"], input[type="text"] {
    margin-left: 4px;
    padding-left: 4px;
    border-radius: 4px;
    height: 20px;
    width: 200px;
}

input[type="button"].info {
    line-height:27px;
    display:block;
    width: 15%;
    height:100%;
    text-decoration: none;
    background: #f3fdff;
    text-align:center;
    border:2px solid #1e00ff;
    color: #07299e;
    font-size:17px;
    font-weight:bold;
    border-radius:35px;
    -webkit-border-radius:35px;
    -moz-border-radius:35px;
    box-shadow:0px 0px 0px 0px #FFFFFF inset;
    transition: all 0.1s ease;
}
input[type="button"].info:hover {
    background:#FFFFFF;
    color:#2B1EFF;
    margin-left:0px;
    margin-top:0px;
    border:2px solid #0804ff;
    box-shadow:none;
}

input[type="button"].copyText {
    background: whitesmoke;
    color: black;
    margin-left:0px;
    margin-top:0px;
    border:1px solid #0804ff;
    border-radius: 5px;
    box-shadow:none;
}

button {
    font-family: MyFont;
    background-color: white;
    text-align: center;
    margin-left: 20px;
    height: 20px;
    width: 100px;
    font-size: 14px;
    letter-spacing: 1px;
    border-radius: 5px;
}
